/* See: https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap */

/* latin-ext */

/* @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-xDwxUD2GF9Zc.woff) format('woff');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */

/* latin */
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("quicksand.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* stylelint-enable property-no-vendor-prefix */

    user-select: none;
    touch-action: none;
    overflow: hidden;
}

body {
    background-color: #222;
    color: #f2f2f2;
    font-family: Quicksand, sans-serif;
    letter-spacing: 2px;
}

canvas {
    outline: 0;
    -webkit-tap-highlight-color: #fff0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#menu, #resume-container {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#startgame {
    cursor: pointer;
    background-color: #00f;
    padding: 50px;
    border-radius: 10px;
    font-size: 30px;
}

#resume-container {
    display: flex;
    background-color: #f00;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

#resume-text {
    font-size: 40px;
}

#resume-button, #exit-button {
    cursor: pointer;
    font-size: 30px;
    background-color: #00f;
    border-radius: 10px;
    padding: 2px 10px;
}
